@font-face {font-family: "SohoGothicW01-Regular";
  src: url("5e7b8c3d1aeda6167d8ce340a037d64a.eot"); /* IE9*/
  src: url("5e7b8c3d1aeda6167d8ce340a037d64a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("5e7b8c3d1aeda6167d8ce340a037d64a.woff2") format("woff2"), /* chrome firefox */
  url("5e7b8c3d1aeda6167d8ce340a037d64a.woff") format("woff"), /* chrome firefox */
  url("5e7b8c3d1aeda6167d8ce340a037d64a.ttf") format("truetype") /* chrome firefox opera Safari, Android, iOS 4.2+*/
}
body {
  font-family: 'SohoGothicW01-Regular';
}
.division {
  color: rgba(160,160,160,0.2);
  background-color: rgba(160,160,160,0.2);
}
.fuerte {
  font-weight: 1000;
}
span,p {
  color: #333 !important;
}
h1,h2,h3 {
  color: #D92177;
}
h5 {
  font-size: 19px;
  text-decoration: underline;
}
.picker__date-display {
  background-color: #672C83;
}
.picker__weekday-display {
  background-color: #D92177;
}
/*.card-title {
  color: #fff !important;
}*/

.rooms{
  display: none;
}

.tabs .tab a {
  color: #d96192;
}

.tabs .indicator {
  background-color: #ffdaf0;
}
.gris {
  background-color: #A9A9A9;
}
.pt40 {
  padding-top: 40px;
}
 .ml20 {
  padding-left: 20px;
 }